streamlit
numpy
pandas
networkx
plotly
torch==2.1.0 --index-url https://download.pytorch.org/whl/cpu
torch_geometric==2.4.0 -f https://data.pyg.org/whl/torch-2.1.0+cpu.html
torch_scatter -f https://data.pyg.org/whl/torch-2.1.0+cpu.html
torch_sparse -f https://data.pyg.org/whl/torch-2.1.0+cpu.html
